/* CSS File 
  ===================
	Item Name: Freecart – Ecommerce HTML Lite Template.
    Author: Ashish Maraviya
    Version: 1.0
    Copyright 2021
===================*/
body {
    background-color: #fff;
}