/* CSS File 
  ===================
	Item Name: Freecart – Ecommerce HTML Lite Template.
    Author: Ashish Maraviya
    Version: 1.0
    Copyright 2021
===================*/
@import "../utilities/_variables";
body{
  background-color: $dark-bg-color;
  color: $dark-text-color;
  .btn-2 {
    background-color: $dark-bg-color-2;
  }
  .main-heading h2 {
    color: $dark-title-color;
  }
  .service .support-service{
    background-color: $dark-bg-color-2;
  }
  .service .support-service {
    border: 2px solid $dark-border-color;
  }
  .copyright {
    background-color: $dark-bg-color;
  }
  .footer {
    background-color: $dark-bg-color-2;
  }
  .top-brand-section, .top-brand-section-2{
    background-color: $dark-bg-color-2;
    border-bottom: 1px solid $dark-border-color;
    .top-brand {
      .navbar-toggler-btn {
        span{
          background-color: $dark-text-color;
        }
      }
      .top-brand-right-tool{
        a {
          i{
            color: $dark-text-color;
          }
        }
      }
    }
  }
  .md-nav, .md-nav-2 {
    background-color: $dark-bg-color;
    .menu-bar {
      .nav-title {
        color: $dark-title-color;
        border-bottom: 1px solid $dark-border-color;
      }
      .mega-navbar{
        background-color: $dark-bg-color;
      }
    }
    .md-navbar-nav {
      .md-dropdown {
        .md-dropdown-menu {
          background: $dark-bg-color-2;
          border: 1px solid $dark-border-color;
          a {
            color: $dark-text-color;
            i{
              top: 15px;
              right: 15px;
            }
          }
          .column-dropdown {
            .column-detail {
              .dropdown-item-title {
                color: $dark-title-color;
              }
            }
          }
          .md-sub-dropdown {
            .md-submenu-show {
              background: $dark-bg-color-2;
          border: 1px solid $dark-border-color;
          a {
            color: $dark-text-color;
          }
            }
          }
        }
      }
      li {
        .md-nav-link{
          color: $dark-text-color;
        }
      }
    }
  }
  .top-brand-section, .top-brand-section-2 {
    .top-brand {
      .top-brand-left-tool {
        .acc-text {
          button {
            color: $dark-text-color;
            background: url(../img/icons/dark-down-arrow.png);
            background-repeat: no-repeat;
            background-position: 85% 48%;
          }
        }
        .currency-text {
          button{
            color: $dark-text-color;
            background: url(../img/icons/dark-down-arrow.png);
            background-repeat: no-repeat;
            background-position: 85% 48%;
          }
          .dropdown-menu{
            background-color: $dark-bg-color-2;
            border: 1px solid $dark-border-color;
            a{
              color: $dark-text-color;
              &:hover {
                background-color: $dark-bg-color-2;
              }
            }
          }
        }
      }
      .top-brand-right-tool {
        .acc-text {
          button {
            color: $dark-text-color;
            background: url(../img/icons/dark-down-arrow.png);
            background-repeat: no-repeat;
            background-position: 100% 48%;
        }
        .dropdown-menu{
          background-color: $dark-bg-color-2;
          border: 1px solid $dark-border-color;
          a{
            color: $dark-text-color;
            &:hover {
              background-color: $dark-bg-color-2;
            }
          }
        }
        }
        .menu-bar-icons {
          a{
            color: $dark-text-color;
          }
        }
      }
    }
  }
  .md-nav {
    .md-navbar-nav {
      li {
        .md-nav-link{
          color: $dark-text-color;
        }
      }
      .md-dropdown {
        .md-dropdown-menu {
          background-color: $dark-bg-color-2;
          border: 1px solid $dark-border-color;
          a {
            color: $dark-text-color;;
          }
          .md-sub-dropdown {
            .md-submenu {
              border: 1px solid $dark-border-color;
              background-color: $dark-bg-color-2;
            }
          }
          .column-dropdown {
            .column-detail {
              .dropdown-item-title{
                color: $dark-title-color;
              }
            }
          }
        }
      }
    }
    .search-icon{
      a {
        i{
          color: $dark-text-color;
        }
      }
    } 
  }
  .nav-toolbar {
    background-color: $dark-popup-bg;
    .nav-panel {
      .nav-panel-icons{
        a {
          i{
            color: $dark-text-color;
          }
        }
      }
    }
  }
  .product-design{
    .product-name{
      a {
        color: $dark-text-color;
      } 
    }
    span.wrong-price{
        color: $dark-text-color;
      }
    .product-rate {
        .star.off{
          color: $dark-text-color;
        }
    }
    .cart-like-search {
      ul {
        li{
          background-color: $dark-bg-color;
          color: $dark-text-color;
        }
      }
    }
  }
  .tabs-product-design {
    .product-name {
      a{
        color: $dark-text-color;
      }
    }
    span.wrong-price {
      color: $dark-text-color;
    }
    .product-rate {
      .star.off{
        color: $dark-text-color;
      }
    }
  }
  
  .products-row {
    li {
      a {
        color: $dark-text-color;
      }
    }
  }
  .service {
    .support-service{
      h3{
        color: $dark-title-color;
      }
      p{
        color: $dark-text-color;
      }
    } 
  }
  .our-brands {
    .slick-initialized{
      .slick-slide {
        border: 2px solid $dark-border-color;
        img {
          background: $dark-bg-color-2;
        }
      }
    }
  }
  .blog-post {
    .blog-white-text {
      background-color: $dark-bg-color-2;
      h2 {
        a {
          color: $dark-title-color;
        }
      }
      p{
        color: $dark-text-color;
      }
    }
  }
  .footer {
    .other-link {
      a{
        color: $dark-text-color;
      }
    }
    .add-section {
      a {
        span, i{
          color: $dark-text-color;
        }
      }
    }
    .news-letter{
      h4{
        color: $dark-text-color;
      }
    }
  }
  .footer {
    .mail-subscribe {
      input {
        background-color: $dark-popup-bg;
        color: $dark-text-color;
      }
    }
  }
  .search-panel-full {
    .search-panel{
      background-color: $dark-bg-color-2;
      input {
        background-color: $dark-popup-bg;
        border: 2px solid $dark-border-color;
        color: $dark-text-color;
      }
      .search-btn, .search-close {
        color: $dark-text-color;
      }
    }
    .search-product {
      .product-card{
        border: 2px solid $dark-border-color;
      }
    }
  }
  .cart-bar {
    background-color: $dark-bg-color-2;
    border-left: 1px solid $dark-border-color;
    .cart-bar-header{
      border-bottom: 1px solid $dark-border-color;
      h6{
        color: $dark-title-color;
      }
    } 
    .cart-bar-body {
      .product-card{
        .product-card-detail {
          h6{
            color: $dark-title-color;
          }
          p{
            color: $dark-text-color;
          }
        }
      } 
      .product-quality {
        input {
          background-color: $dark-bg-color-2 !important;
        }
      }
    }
    .cart-bar-footer {
      border-top: 1px solid $dark-border-color;
      .cart-total {
        span{
          color: $dark-title-color;
        }
        .total-title{
          color: $dark-title-color;
        }
      }
    }
  }
  .sidebar-new-product {
    .new-product-name {
      a{
        color: $dark-text-color;
      }
    }
  }
  .product-main-star {
    .star.off{
      color: $dark-text-color;
    }
  }
  .recent-purchase {
    background-color: $dark-popup-bg;
    .detail {
      p{
        color: $dark-text-color;
      }
      h6 {
        color: $dark-title-color;
      }
    }
    a{
      i{
        color: $dark-text-color;
      }
    }
  }
  .up-scroll, .wc-right-bottom .wc-box {
    background-color: $dark-popup-bg;
  }
  .category-banner .slide {
    background: $dark-bg-color-2;
    border: 2px solid $dark-border-color;
    .caption-info {
      .text-detail {
        a{
          color: $dark-title-color;
        }
      }
      .card-icon {
        .cat-img-1{
          background-image: url(../img/category-icons/dark-1.png);
        }
        .cat-img-2{
          background-image: url(../img/category-icons/dark-2.png);
        }
        .cat-img-3{
          background-image: url(../img/category-icons/dark-3.png);
        }
        .cat-img-4{
          background-image: url(../img/category-icons/dark-4.png);
        }
        .cat-img-5{
          background-image: url(../img/category-icons/dark-5.png);
        }
      }
    }
  }
  .main-heading {
    p{
      color: $dark-text-color;
    }
  }
  .exp-products-2 {
    .banner-detail {
      background-color: rgba(39, 38, 55, 0.5);
      h2, h5 {
        color: $dark-title-color;
      }
      p {
        color: $dark-text-color;
      }
    }
  }
  .fc-product-inner {
    .fc-pro-content {
      .fc-pro-title {
        a{
          color: $dark-text-color;
        }
      }
    }
  }
}
.body-bg-1{
  background-image: url(../img/bg/dark-background-1.png);
  background-size: cover;
  background-attachment: fixed;
}
.body-bg-2{
  background-image: url(../img/bg/dark-background-2.png);
  background-size: cover;
  background-attachment: fixed;
}
.body-bg-3{
  background-image: url(../img/bg/dark-background-3.png);
  background-size: cover;
  background-attachment: fixed;
}
.body-bg-4{
  background: $dark-bg-color;
}
.modal-body {
  background-color: $dark-bg-color-2;
  .close{
    color: $dark-text-color;
  }
  .product-quality {
    input{
      background-color: $dark-bg-color-2;
    }
    select {
    background: url('../img/icons/dark-down-arrow.png');
    background-repeat: no-repeat;
    background-position: 85% 42%;
    }
    label, span, a {
      color: $dark-text-color;
    }
  }
  .product-main-detail {
    h3, p{
      color: $dark-text-color;
    }
  }
}

/** Breadcrumb page **/
.breadcrumb-section {
  background-color: $dark-bg-color-2;
  h4 {
    color: $dark-title-color;
  }
  .breadcrumb-item.active {
    color: $dark-text-color;
  }
}
.page-detail {
  .page-description {
    background-color: $dark-bg-color-2;
    p{
      color: $dark-text-color;
    }
  }
}
.slick-initialized {
  .slick-slide {
    background: $dark-bg-color;
  }
}
.collection-menu {
  .nav {
    a{
      background-color: $dark-bg-color-2;
      border-color: $dark-border-color;
      color: $dark-text-color;
    }
    a.active {
      background-color: $dark-popup-bg;
    }
  }
}

/** Shop page **/
.categories, .shop-price, .color-shop-box {
  border: 2px solid $dark-border-color;
  h3 {
    color: $dark-title-color;
  }
}
.categories {
  li {
    border-bottom: 2px solid $dark-border-color;
    a {
      color: $dark-text-color;
    }
  }
}
.shop-price p.range-value {
  input {
    background-color: $dark-bg-color;
    color: $dark-title-color;
  }
}
.sort-by-section {
  .input-group {
    select,label {
      border: 2px solid $dark-border-color;
      color: $dark-text-color;
    }
    select {
      background: url(../img/icons/dark-down-arrow.png);
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }
  }
  .collection-view {
    .grid-product.active {
      a {
        color: $dark-text-color;
      }
    }
  }
}
.sidebar-new-product {
  .new-product-head {
    h3{
      color: $dark-title-color;
    }
  }
  .product-card {
    .card-image {
      .new-product-img{
        border: 2px solid $dark-border-color;
      }
    }
  }
}
.sidebar-tags {
  h3 {
    color: $dark-title-color;
  }
  .tag-list-name{
    a{
      background-color: $dark-bg-color-2;
      color: $dark-title-color;
    }
  }
}
.exp-products-2 {
  background-image: url(../img/banner/explore_product_banner-2-dark.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.box-products{
  .box-banner{
    &:hover {
      .box-info {
        background-color: $dark-transferent-banner;
      }
    }
  }
}
.shop-product-design {
  ul.pagination {
    border-top: 1px solid $dark-border-color;
    .pageNumber {
      a {
        p{
          color: $dark-text-color;
        }
      }
    }
  }
}

/** Product page **/
.product-title-main-name {
  color: $dark-title-color;
}
.product-main-detail {
  p {
    color: $dark-text-color;
  }
  h3 {
    color: $dark-title-color;
  }
}

.product-quality{
  label, span, a{
    color: $dark-text-color;
  }
  input {
    background-color: $dark-bg-color;
  }
  .p-box {
    border: 2px solid $dark-border-color;
  }
  select {
    background: url(../img/icons/dark-down-arrow.png);
    background-repeat: no-repeat;
    background-position: 85% 48%;
    border: 2px solid $dark-border-color;
  }
}
.wrong-price {
  color: #aaa;
}
.image-viewer {
  .zoom-main{
    border: 2px solid $dark-border-color;
  }
}
.zoom {
  .zoom-thumb {
    a {
      border: 2px solid $dark-border-color;
    }
  }
}
.main-drd-tabs {
  .tab-pane {
    p{
      color: $dark-text-color;
    }
    .table{
      td{
        color: $dark-text-color !important;
        border: 2px solid $dark-border-color;
      }
    } 
    .contact-submit {
      .btn{
        &:hover{
          background-color: $dark-bg-color;
        }
      }
    }
  }
  .nav-tabs {
    border-bottom: 2px solid $dark-border-color;
    .nav-item {
      border-right: 1px solid transparent;
    }
  }
  .nav-link {
    color: $dark-title-color;
  }
}
.contact-form {
  .form-control{
    background-color: $dark-bg-color;
    border: 2px solid $dark-border-color;
    color: $dark-text-color;
  }
}
.product-cart-btn {
  a{
    &:hover{
      background-color: $dark-bg-color;
    }
  }
}

/** About us page **/
.about-description {
  h3{
    color: $dark-title-color;
  }
  p{
    color: $dark-text-color;
  }
}

/** Contact us page **/
.contact-main-address {
  .contact-icon {
    i{
      background-color: $dark-bg-color;
      border: 2px solid $dark-border-color;
    }
  }
  .contact-text {
    h3{
      color: $dark-title-color;
    }
    p, a {
      color: $dark-text-color;
    }
  }
}
.contact-google-map {
  border: 2px solid $dark-border-color;
}

/** Cart page **/
.checkout-your-order {
  background-color: $dark-bg-color-2;
}
.checkout-btn {
  a {
    &:hover{
      background-color: $dark-bg-color-2;
    }
  }
}
.table {
  color: $dark-title-color;
}
.cart-table-img {
  a{
    color: $dark-text-color !important;
  }
  .cart-add-image {
    border: 2px solid $dark-border-color;
  }
}
.dotted-box-order {
  border: 1px dashed $dark-border-color;
}
.order-detail {
  .table {
    .table-pt {
      border-top: 1px dashed $dark-border-color;
    }
  }
}

/** FAQ page **/
.faq-content {
  .faq-accordion {
    border: 2px solid $dark-border-color;
  }
  .accordion {
    background-color: $dark-bg-color;
    color: $dark-title-color;
    &:after{
      color: $dark-title-color;
    }
  }
  .panel {
    p{
      color: $dark-text-color;
      background-color: $dark-bg-color;
    }
  }
}

/** Checkout page **/

.checout-form {
  h3 {
    color: $dark-title-color;
  }
  input {
    background-color: $dark-bg-color;
    border: 2px solid $dark-border-color;
    color: $dark-text-color;
  }
}

/** Blog page **/
.sidebar-search, .social-sidebar {
  h3{
    color: $dark-title-color;
  }
  input.form-control {
    background-color: $dark-bg-color;
    border: 2px solid $dark-border-color;
    color: $dark-text-color;
  }
}
.social-sidebar {
  .main-social-icon {
    li {
      border: 2px solid $dark-border-color;
    }
  }
}

.wc-style {
  .wc-list {
    .wc-user-info {
      span{
        color: $dark-title-color;
      }
      p{
        color: $dark-text-color;
      }
    }
  }
  .wc-panel {
    .wc-header{
      background-color: $dark-bg-color-2;
    }
  }
  .wc-body {
    li{
      background-color: $dark-popup-bg;
      border-color: $dark-border-color;
      &:hover{
        background-color: rgba(56, 55, 72, .9);
      }
    }
  }
}
.modal-sale {
  button.close {
    color: #fff !important;
  }
  .modal-text{
    p, h2{
      color: $dark-text-color;
    }
    h3 {
      color: $dark-title-color;
    }
  } 
}
